.nav {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-left: auto;
}
.link {
  font-family: var(--ff-body);
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--gray);
  letter-spacing: 0.02em;
  transition: color 0.2s;
}
.link:hover,
.active {
  color: var(--white);
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
